.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 100px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 60%;
  max-height: 80vh;
  position: relative;
  transition: all 1s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: var(--dark-grey);
}

.popup ul {
  padding: 20px;
  list-style: square;
}

.popup li {
  margin-bottom: 8px;
}

.popup img:hover {
  cursor: pointer;
  transform: scale(1.06);
  opacity: 0.9;
  transition: transform 0.2s ease-in;
}

.popup .inputs {
  border: 1px solid var(--dark-grey);
  border-radius: 4px;
  color: black;
  width: 100%;
  height: auto;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 8px;
  margin-top: 4px;
}

.popup .inputs:focus {
  outline: none;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: var(--secondary-color);
}

.popup .details {
  min-height: 30%;
}

.popup .pay_img {
  width: 30%;
  height: auto;
  margin: 20px 0;
}

.popup .details p {
  font-size: 1.2rem;
}

.popup_buttons {
  width: 100%;
  display: inline-block;
  background: var(--secondary-light);
  color: white;
  padding: 1rem 1.5rem;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 16px;
  box-sizing: border-box;
  margin: 25px 0 10px 0;
}

.popup_buttons:hover {
  background: var(--secondary-hover);
}

.popup .ad_field_count {
  text-align: right;
}

.popup .title {
  margin-right: 30px;
}
